#root {
  width: 100%;
  color: blue;
  display: flex;
  flex-wrap: wrap;
}

.column {
  width: 30%;
  text-align: center;
  background: lightblue;
  align-items: center;
  box-decoration-break: 0 2px 6px 0 rgba(159, 239, 250, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

h1 {
  font-family: "sans-serif";
  padding: 8px 16px;
  color: green;
  background-color: rgb(161, 157, 156);
}

p {
  padding: 4px 8px;
 
}

img {
  width: 100%;
}




